
// Brands
$brand-primary:             #0275d8;
$brand-success:             #5cb85c;
$brand-info:                #5bc0de;
$brand-warning:             #f0ad4e;
$brand-danger:              #d9534f;

// Typography
$font-size-base: 16px;
$line-height-base: 1.6;
$text-color: #444;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 30%);
$input-color-placeholder: lighten($text-color, 40%);
